<ion-header>

  <ion-toolbar>
    <ion-title>{{fgh}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-button expand="block" (click)="scrollContent('bottom')">Scroll Bottom</ion-button>

  <ion-text>
    <!-- <div id="heading"> -->
    <div #panel1 id="panel1">
      <h3>Species Name: </h3><h4>Teak</h4>
      <br>
      <h3>Scientific name: </h3><h4>Tectona grandis</h4>
      <br>
      <h3>Common name: </h3><h4>Sagaun, Sag</h4>
      <br>
      <h3>Family:  </h3><h4>Lamiaceae (old family is Verbenaceae)</h4>
      <br>
      <h3>Potential area: </h3><h4>Teak is indigeneous to India. It occurs in Madhya Pradesh, Uttar Pradesh, Gujarat, Maharashtra, Kerala, Tamil Nadu, Karnataka and some part of West Bengal, Assam, Bihar, Orissa, and the Andaman.
      </h4>
    </div>
  </ion-text>
<ion-img style="width: 250px; height: 320px;" class="centered" src="assets/images/plant.jpg"></ion-img>
<ion-text>
<div #panel2 class = "panel_silvicultural_requirement" id="panel2">
<h3>Silvicultural requirement:</h3><h4>Teak grows well in low altitudes, high to low rainfall areas. The tree can grow at a maximum temperature range of 39-44°C and a minimum of 13–17°C. It grows well in rainfall zone of 1200-2500 mm. It prefers deep, fertile, and well- drained soils and also thrives best on soils that are slightly acidic or slightly alkaline. </h4></div>
<br>
<div #panel3 class="Nursery_techniques" id="panel3">
<b><h3>Nursery techniques:</h3></b>
<br>
<h3>By Seed: </h3><h4>The alternate wetting and drying for several days (at least 15 days) provides higher germination. The germination may vary from 10 to 70 %. It is recommended to use of large seeds more than 14 mm in diameter sown at to a depth equivalent to the fruit diameter. Germination commences in about 15 days and extends up to 45 days. A One year old nursery seedling is chosen for field planting.
</h4>
<br>
<h3>By Vegetative: </h3><h4>Stumps is consists of root to shoot parts prepared by cutting away from the seedling everything except 2.5 cm of the shoot and 22.5 cm of the root. The stem portion receives an oblique cut to drain off rain water and the root portion a horizontal cut. All laterals from the tap root are pruned away. The stumps should preferably be planted within 2 to 3 days.
</h4></div>
</ion-text>
<ion-img class="centered" style="width:297px; height: 100px;" src="assets/images/img1.jpg"></ion-img>
<ion-img class="centered" style="width: 297px; height: 100px;" src="assets/images/img2.jpg"></ion-img>
<p>Teak high-tech as well as field nursery</p>
<br>
<ion-img class="centered" style="width: 286px; height: 238px;" src="assets/images/IMG-show.jpg"></ion-img>
<br>
<div #panel4 class="Planting_techniques" id="panel4">
<h3>Planting techniques:</h3><h4>Planting site should be ploughed thoroughly and pits of size 45×45×45 cm dug out at a spacing of 2×2 m, 3×3 m and 4×3 m. In agroforestry, teak is generally planted at 6×2 m and 8×2 m spacing. Pits are filled with a mixture of farmyard manure and soil. Seedlings are planted in the pits during rainy season. For stump planting a crowbar may be used. In the initial stages the plants have to be irrigated once in a week and regular weeding has to be done.
</h4></div>
<ion-img class="centered" style="width: 500px; height: 300px;" src="assets/images/img-4.jpg"></ion-img>
<br>
<div #panel5 class="Tending_operations" id="panel5">
<h3>Tending operations:</h3><h4>
<ul><li>	Weeding: In block planting, every year two to three weeding are required with soil working, if necessary. Generally, the canopy starts closing after the third year.</li>
  <li>	Manure & fertilizers: The recommended dose of fertilizer per tree is 50 g of NPK in the first year, 100 gm in the second year and 150 gm in the third year. Apply manure or compost at a dose of 10 kg per planting hole before planting the tree.</li>
<li>	Pruning: Unnecessary branches or twigs are pruned to obtain a clear bole and promote the tree’s growth. The prunings can be used as fuelwood or sold for increased income. In agroforestry plantation, pruning is widely recommended to reduce competition and proper measures are taken in consideration while cutting the branches.</li>
<li>Thinning: Teak planted at 2×2m can be first thinned at age 5-7 years, when the trees are about 7-10 m tall. In the first thinning, alternate trees are removed; subsequent thinnings are carried out at about 5-year intervals (10, 15 and 20 years of age) to create quality timber and intermediate income. But in case of agroforestry, wider spacing among rows does not require thinning up to first 10 years.</li>
</ul>
</h4></div>
<br>
<div #panel6 class="Suitable_Agroforestry_System" id="panel6">
<h3>Suitable Agroforestry System</h3><h4>It is planted in different models, combinations as well as in different spacings. Teak is planted on boundaries of crop fields or fruit orchard (Guava, citrus, mango and cashew), block plantation and with kharif and rabi crops.
</h4>
<ion-img class="centered" style="width: 286px; height: 223px;" src="assets/images/block-p.jpg"></ion-img>
<p>Block Plantation</p>
<ion-img class="centered" style="width: 286px; height: 223px;" src="assets/images/boundary-p.jpg"></ion-img>
<p>Boundary Plantation</p>
</div>
<!-- <div class="Tree Protection"> -->
<h3>Tree Protection:</h3><h4>Defoliators (Hyblaea purea) and skeletonisers (Eutectona machaeralis) can be controlled by quinalphos 25 EC 0.05% spray or neem oil @ 10000 ppm. However, sparying of chemicals is advocated if only heavy infestations. For controlling stem borer (Sahyadrassus malabaricus) apply 0.2% quinalphos at the site of infection after removing the frass. Cut and remove the parasitic plants (Dendrophthoe spp.) before fruiting.
</h4>
<ion-img class="centered" style="width: 286px; height: 223px;" src="assets/images/skeletenoiser.jpg"></ion-img>
<p>Teak skeletonisers </p>

<ion-img class="centered" style="width: 286px; height: 223px;" src="assets/images/def.jpg"></ion-img>
<p>Teak defoliator</p>
<h3>Yield:</h3><h4>The average yield of teak plantation planted at 2×2 m is predicted to be 1.5-2 m3 ha-1 yr-1 in 25 years of rotation in farmlands. At best a tree may produce a maximum of 0.60 cu m of timber in 20 years under best conditions of intensive management and there could be a maximum of 100 trees per acre (KFRI. 1979).
</h4>
<ion-img class="centered" style="width: 380px; height: 300px;" src="assets/images/teak.jpg"></ion-img>
<p>Teak agroforestry (6×2m)</p>
<br>
<div #panel7 class="User" id="panel7">
<h3 id="checklol">Uses: </h3><h4>It is mainly used in furniture, cabinet making, various grades of plywood, panelling, construction, poles, piles, ship building and other purposes.
</h4></div>
<ion-button expand="block" (click)="scrollContent('top')">Scroll Top</ion-button>

</ion-content>
